<% provide(:title, 'Home') %>
<% provide(:hero_title, "smedium") %>
<% provide(:tagline, "An elegant starting point") %>
<% provide(:header_image_url, 'http://25.media.tumblr.com/26644ccd89d8aff72d4600d89254ffec/tumblr_myebteWgAP1st5lhmo1_1280.jpg') %>

<!DOCTYPE html>
<html>
  <body>
    <p>
    	<% if current_user %>
        <p>
          This is a sample homepage for
          <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
          <br> When you build your own web app, you can add static homepage content for your logged-in users here, or you can insert add your live application content.
          <br>
          Learn more on our 
          <%= link_to "About page", about_path %>
        </p>
        <p>
          <h3>Signed in as <%= current_user.nickname %></h3>
          <%= link_to "Sign out", signout_path, :class => "button radius" %>
          <%= link_to "Profile", profile_path(current_user), :class => "button radius" %>
          <%= link_to "Settings", "/me/settings", :class => "button radius" %>
        </p>
  		<% else %>
        <p>
          This is a sample homepage for
          <a href="https://github.com/rcolinkennedy/smedium/">smedium by rcolinkennedy</a>
          <br> When you build your own application, your landing page content can go here.
          <br>
          Learn more on our 
          <%= link_to "About page", about_path %>
          <p>
            <h3>Log into your account or create one with Twitter</h3>
            <%= link_to "Sign in with Twitter", "/auth/twitter", :class => "button radius" %>
          </p>
        </p>
  		<% end %>
    </p>
  </body>
</html>
