<% provide(:title, 'Edit') %>
<% provide(:hero_title, "Edit") %>
<% provide(:tagline, "Update User info") %>

<!DOCTYPE html>
<html>
  <body>
    <div class='page-content'>
      <% if current_user %>
        <%= portrait_for(@user,'bigger') %>
        <h2>Signed in as <%= current_user.nickname %></h2>
        <p>
          <h4>Update your email address</h4>
          <div>
            <%= form_for @user do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :email %>
            <%= f.submit "Update", :class => "button radius" %>
            <%= link_to "Home", root_path, :class => "button radius" %>
            <% end %>
          </div>
        </p>
      <% else %>
        <p>
          <h3>Log into your account or create one with Twitter</h3>
          <%= link_to "Sign in with Twitter", "/auth/twitter", :class => "button radius" %>
        </p>       
      <% end %>
    </div>
  </body>

<!-- Found at http://localhost:3000/users/<username>/edit -->