<% provide(:title, 'Register') %>
<% provide(:description, 'One last step.') %>
<!DOCTYPE html>
<html>
  <body>
    <p>
      <%= portrait_for(@user,'bigger') %>
      <h2>Welcome, <%= current_user.nickname %></h2>
    </p>
    	<h4>Enter your email address below to finish registration.</h4>
      <div>
        <%= form_for @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_field :email %>
        <%= f.submit "Complete Registration", :class => "button radius" %>
        <% end %>
      </div>
  </body>

  <!-- Found at http://localhost:3000/<username>/register -->