<debug>
	<div id="debug_dump">
    	<div class="panel radius">
	    	<%= "params:" %>
			<%= debug(params) %>
			<br>
			<%= "@user:" %>
			<%= debug(@user) %>
			<br>
			<%= "current_user:" %>
			<%= debug(current_user) %>
		</div>
	</div>
</debug>
