<debug>
	<div class="panel radius">
		<p>
			<h5><%= "params:" %></h5>
			<p><%= debug(params).to_s %></p>
			<br>
			<h5><%= "@user:" %></h5>
			<%= debug(@user) %>
			<br>
			<h5><%= "current_user:" %></h5>
			<%= debug(current_user) %>
		</p>
	</div>
</debug>
