<debug>
	<div class="panel radius" id="debug_dump">
    	<%= "params:" %>
		<%= debug(params) %>
		<br>
		<%= "@user:" %>
		<%= debug(@user) %>
		<br>
		<%= "current_user:" %>
		<%= debug(current_user) %>
	</div>
</debug>
