<debug>
	<div class="panel radius" id="debug_dump">
		<p>
			<h5><%= "params:" %></h5>
			<%= debug(params) %>
			<br>
			<h5>
			<%= "@user:" %>
			</h5>
			<%= debug(@user) %>
			<br>
			<h5>
			<%= "current_user:" %>
			</h5>
			<%= debug(current_user) %>
		</p>
	</div>
</debug>
