<!DOCTYPE html>
<html lang="en" style='height: 100%'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %> | smedium </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body style='height: 100%' onload='setTimeout(function() {window.scrollTo(0, 1)}, 100)'>
    <div class='off-canvas-wrap' style='height: 100%'>
      <div class='inner-wrap' style='height: 100%'>
        <aside class='left-off-canvas-menu'>
          <%= render 'layouts/left_panel' %>
        </aside>
          <nav class='left-off-canvas-toggle nav-button site-nav' tabindex='-1'>S</nav>
          <div class='container' id='container'>
            <div class='screen-content'>
              <div class='image-header'>
                <%= render 'layouts/header_image' %>
              </div>
              <div class='layout-foreground'>
                <%= render 'layouts/hero' %>
                <%= render 'layouts/messages' %>
                <div id='app-content'>
                  <%= yield %>
                  <%= render 'layouts/debug' if Rails.env.development? %>
                </div>
              </div>
              <%= render 'layouts/footer' %>
            </div>
          </div>    
          <a class='exit-off-canvas'></a>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_include_tag "application" %>
</html>
